.container {
    font-family: 'Helvetica', 'Arial', sans-serif;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.container .content-list {
    float: none;
    text-align: left;
    background-color: white !important;
}

.container li {
    float: none;
    background-color: white !important;
}